body {font-family: 'Times New Roman';}
h1 {font-family: 'Times New Roman';}
h3 {font-family: 'Times New Roman';}
body {background-color:rgb(50, 57, 66);}
ul {color:white; font-weight:60}
h1 {color:rgb(174, 208, 219)}
h3 {color:white; font-size: 20px;font-weight:60}